body {
    text-align: center;
    display: block;
}

.player-information {
    border: saddlebrown solid;
    margin-left: 35%;
    width: 29%;
    height: 35%;
}

.player-information-header {
    margin-bottom: 10px;
}

.player-icon {
    margin-top: -8%;
}

.player-life {
    padding-bottom: 10px;
}

img {
    
    height: 125px;
}

.player-life {
    font-family: 'Open Sans', sans-serif;
    font-size: 25x;
}


#win-popup,
#lose-popup {
    position: fixed;
    align-content: center;
    display: none;
    padding-top: 100px;
    z-index: 1;
    top: 12%;
    left: 32.5%;
    width: 35%;
    height: 35%;
    animation-name: animatetop;
    animation-duration: 1.1s;
}

#popup-content {
    background-color: white;
}

.win-popup-header,
.win-popup-footer {
    padding: 2px 16px;
    color: white;
    background-color: #136F63;
}

.lose-popup-header,
.lose-popup-footer {
    padding: 2px 16px;
    color: white;
    background-color: red;
}

.lose-popup-footer,
.win-popup-footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

#win-play-again,
#lose-play-again {
    color: white;
    background-color: #FFBA08;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}